@model MichaFinancialGroup.ViewModels.User.UserEditViewModel

@{
    ViewData["Title"] = "Edit User";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">User</h4>
                        <p class="card-category">Edit</p>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="User" asp-action="Edit">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" asp-for="@Model.SelectedRoleId">Role</label>
                                        <select class="form-control" style="background-color: #282c44 !important;"
                                                asp-for="@Model.SelectedRoleId"
                                                asp-items="@Model.AllRoles"></select>
                                        <span style="color : red" asp-validation-for="@Model.SelectedRoleId" class="field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" asp-for="@Model.Username">Username</label>
                                        <input class="form-control" asp-for="@Model.Username">
                                        <span style="color : red" asp-validation-for="@Model.Username" class="field-validation-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" asp-for="@Model.NewPassword">Password</label>
                                        <input class="form-control" asp-for="@Model.NewPassword">
                                        <span style="color : red" asp-validation-for="@Model.NewPassword" class="field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" asp-for="@Model.ConfirmPassword">Confirm Password</label>
                                        <input class="form-control" asp-for="@Model.ConfirmPassword">
                                        <span style="color : red" asp-validation-for="@Model.ConfirmPassword" class="field-validation-error"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Submit</button>
                            <a asp-controller="User" asp-action="Delete" asp-route-Id="@Model.Id"><button type="button" class="btn btn-danger">Remove</button></a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
