@model MichaFinancialGroup.ViewModels.TransactionNewViewModel

@{
    ViewData["Title"] = "New Transaction";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Transaction</h4>
                        <p class="card-category">Managing transactions for AccountId: @Model.AccountId</p>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="Transactions" asp-action="New">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Operation of choice</label>
                                        <select id="selectedOperation" onchange="UpdateToAccountInput()" asp-for="selectedOperation"
                                                asp-items="@Model.Operations" class="form-control" style="background-color: #282c44 !important;"></select>
                                        <span style="color : red" asp-validation-for="@Model.selectedOperation" class="field-validation-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Current Account</label>
                                        <input style="color: grey" asp-for="@Model.AccountId" value="@Model.AccountId" readonly type="number" class="form-control">
                                        <span style="color : red" asp-validation-for="@Model.AccountId" class="field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Current Balance</label>
                                        <input style="color: grey" asp-for="@Model.CurrentBalance" value="@Model.CurrentBalance" readonly class="form-control">
                                        <span style="color : red" asp-validation-for="@Model.CurrentBalance" class="field-validation-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">To Account</label>
                                        <input id="ToAccountInput" type="text" asp-for="@Model.ToAccountId" class="form-control">
                                        <span style="color : red" asp-validation-for="@Model.ToAccountId" class="field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Amount</label>
                                        <input type="number" step=".01" asp-for="@Model.Amount" class="form-control">
                                        <span style="color : red" asp-validation-for="@Model.Amount" class="field-validation-error"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>
        function UpdateToAccountInput() {
            selectedOperation = $("#selectedOperation :selected").val();

            if (selectedOperation == "Transfer to Another account") {
                $("#ToAccountInput").removeAttr("disabled");
                return;
            }
            $("#ToAccountInput").attr("disabled", "disabled").val(null);
        }
    </script>
}
