@model MichaFinancialGroup.ViewModels.TransactionNewViewModel

@{
    ViewData["Title"] = "New Transaction";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Transaction</h4>
                        <p class="card-category">Managing transactions for .....</p>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="Transactions" asp-action="New">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Operation of choice</label>
                                        <select class="form-control" style="background-color: #282c44 !important;"
                                                asp-for="@Model.selectedOperation"
                                                asp-items="@Model.Operations"></select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Type</label>
                                        <select class="form-control" style="background-color: #282c44 !important;"
                                                asp-for="@Model.selectedType"
                                         asp-items="@Model.Type">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Current Account</label>
                                        <input  style="color: grey" asp-for="@Model.AccountId" value="@Model.AccountId"  readonly type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Current Balance</label>
                                        <input style="color: grey" asp-for="@Model.CurrentBalance" value="@Model.CurrentBalance" readonly class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">To Account</label>
                                        <input type="text" asp-for="@Model.ToAccountId" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Amount</label>
                                        <input type="number" step=".01" asp-for="@Model.Amount" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
